.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #003100;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #ade48e;
    border: 1px solid #84af61;
    color: rgb(131, 240, 180);
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #80ac86;
    color: rgb(162, 211, 170);
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #753e34;
    color: white;
}

.BuildControl .More {
    background-color: #1e8f37;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #72da72;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #3f9962;
    color: white;
}